<%- include('partials/header') %>

<section class="intro">
  <div class="container">
    <h1>Welcome </h1>
    <h2>AFRICAN KENYA SABCRYNNSK OF SOI PRAYING AND HEALING CHURCH</h2>
    <p>We are a sanctuary of hope and healing—a church rooted in faith, unity, and service. At the heart of our mission is the desire to uplift souls, offer spiritual guidance, and create a loving community through prayer, outreach, and compassionate acts.</p>
    <p>From powerful worship services to community-driven outreach, we’re committed to walking with you on your journey of faith. Learn more about our vision and the ministries that shape who we are.</p>
  </div>
</section>

<%- include('partials/footer') %>
